{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}API{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block links %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <form action="">
{% csrf_token %}
            <div class="box">
                Число А: <br>
                <input type="number" id="a" name="A">
            </div>
            <div class="box">
                Число В: <br>
                <input type="number" id="b" name="B">
            </div>
            <div class="box" >
                <button onclick='onClick(event);' data-a="add">Плюс</button>
                <a href="{% url 'api_v1:add' %}" id="add" class="sp"></a>
            </div>
            <div class="box" >
                <button onclick='onClick(event);' data-a="subtract">Минус</button>
                <a href="{% url 'api_v1:subtract' %}" id="subtract" class="sp"></a>
            </div>
            <div class="box" >
                <button onclick='onClick(event);' data-a="divide">Разделить</button>
                <a href="{% url 'api_v1:divide' %}" id="divide" class="sp"></a>
            </div>
            <div class="box">
                <button onclick='onClick(event);' data-a="multiply">Умножить</button>
                <a href="{% url 'api_v1:multiply' %}" id="multiply" class="sp"></a>
            </div>
            <div class="box">
                <label for="output"><b>Результат:</b></label><br>
                <textarea name="text" rows="3" id="output"></textarea>
            </div>
        </form>
        {% block content %}{% endblock %}
    </div>
    <script src="{% static "js/main.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
